<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8"/>
    <title>Home page</title>
</head>
<body>

<div class="section full-width-bg main-info-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10">
                <div class="text-container">
                    <h1>Justice lawers contora</h1>
                    <h2>Lawyer services, property valuation, insurance</h2>
                    <p>Get expert help 24/7. Telephone consultation is free!
                        Legal representation in civil, administrative, economic, criminal matters, corporate activities and property disputes, mortgage agreements.</p>
                    <p>We are able to achieve the necessary results! Impeccable reputation. We have been trusted since 1997. Specialists. Fixed prices. We provide our services in the following cities: Odessa, Chernomorsk, Reni, Yuzhny, Izmail.</p>
                </div>
                <a href="/clients/find">Book an appointment</a>
            </div>
        </div>
    </div>
</div>
<div class="section section-info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Why choose us?</h2>
                <p class="text-center section-text">Currently, we are not only the leading regional law firm of Ukraine, but also provide comprehensive legal support to foreign clients.</p>
                <div class="items-container">
                    <div class="item">
                        <div class="item-image-container">
                            <img src="./resources/images/item-image1.jpg" alt="ss">
                        </div>
                        <div class="item-heading-container">
                            Reliability
                        </div>
                        <div class="item-text-container">
                            Clients trust us in the most difficult matters, because they know that we will help them reduce the risks for their business.
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-image-container">
                            <img src="./resources/images/item-image2.jpg" alt="ss">
                        </div>
                        <div class="item-heading-container">
                            Availability
                        </div>
                        <div class="item-text-container">
                            We are located in the very center of the city and, if necessary, are ready to come to you
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-image-container">
                            <img src="./resources/images/item-image3.jpg" alt="ss">
                        </div>
                        <div class="item-heading-container">
                            Best price
                        </div>
                        <div class="item-text-container">
                            We always adhere to the same prices for our services, so you will always know what you pay for.
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-image-container">
                            <img src="./resources/images/item-image4.png" alt="ss">
                        </div>
                        <div class="item-heading-container">
                            Competence
                        </div>
                        <div class="item-text-container">
                            We value our reputation, therefore, we provide assistance only in cases where your problems are resolved through our efforts.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-hammer">
    <div class="container">
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
<!--        <img class="img-responsive" src="../static/resources/images/.png" th:src="@{/static/resources/images/.png}"/>-->
    </div>
</div>

</body>
</html>